---
import Layout from "../layouts/Layout.astro";
const links = [
	{ text: "Bookshop", href: "https://bookshop.org/a/83380/9781737733508" },
	{
		text: "IndieBound",
		href: "https://www.indiebound.org/book/9781737733508",
	},
	{
		text: "Amazon",
		href: "https://www.amazon.com/Convergence-Book-One-Incarnation-Convergence/dp/1737733501/ref=sr_1_1?keywords=convergence+book+one+incarnation&qid=1657392912&sprefix=convergence+book+one+%2Caps%2C129&sr=8-1",
	},
	{
		text: "Newsletter",
		href: "https://theconvergencebooks.substack.com/?r=g75jw&utm_campaign=pub&utm_medium=web",
	},
	{
		text: "Instagram",
		href: "https://instagram.com/theconvergencebooks",
	},
	{
		text: "Email",
		href: "mailto:theconvergencebooks@gmail.com",
	},
];
---

<Layout>
	<section>
		<h1>Clone a linktree</h1>
	</section>
</Layout>
