---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Preview Book One | Convergence Books">
	<section class="mx-auto max-w-2xl">
		<h1 class="text-xl font-bold">Preview Book One: Incarnation</h1>
		<div class="text-wrapper my-4">
			<h2 class="font-heading">Prologue</h2>

			<p>“Please, Darcy. Please, no more.”</p>
			<p>
				His voice is a whisper, but he knows she can hear him. His
				fingers dig into the dirt beneath him, trying to gain purchase
				in the wet earth. The trees that had until tonight stood tall
				now lay flattened, forming the edges of the circle where William
				Rochester struggles to his knees. In the patches of moonlight,
				he sees fallen trees aren’t the only corpses on the ground. His
				sob echoes in the unnatural silence of the dead.
			</p>
			<p>
				He spots her near the tree line. The hair on the back of his
				neck stands on end. She steps into the clearing, a shadow but
				for her gray eyes glowing through the haze of destruction.
			</p>
			<p>
				She closes the space between them, her eyes blazing brighter. A
				mist rolls in like an angry sea. Deep cold seizes his chest and
				radiates beneath his skin, into his muscles and down to his
				bones.
			</p>
			<p>
				The moonlight illuminates her white hair and marble skin blue,
				and her lace dress floats as though suspended in water. A
				shimmering glow surrounds her, resembling light refracting off
				waves.
			</p>
			<p>“They’re all dead,” he whispers. “It’s over.”</p>
			<p>“It’s over, Rochester,” she says, her voice low. “For you.”</p>
			<p>
				She fixes him in her gaze, and the remaining breath leaves
				Rochester’s lungs as she pulls in whatever life he has left. He
				closes his eyes, not wanting the last image he sees to be her.
			</p>
			<p>“Stop!”</p>
			<p>
				A warm wave of air cuts through the cold, forcing it back.
				Rochester’s eyes fly open.
			</p>
			<p>
				Ida strides into the clearing. Tall and sturdy, her dark hair
				trails behind her in untamed curls. Her face is streaked with
				tears, and her hands are stained with blood.As Ida moves, the
				heat ebbs and flows around her, like the tide pulling waves to
				and from shore.
			</p>
			<p>
				She stops in front of Rochester. He gulps in the warmth that
				dissipates the cold clenching in his chest.
			</p>
			<p>“I told you to leave,” Darcy commands.</p>
			<p>“And I said no,” Ida says. “Enough, Darcy.”</p>
			<p>
				“I am not done,” Darcy growls, the surrounding air
				reverberating.
			</p>
			<p>The mist kicks up again, churning in the air.</p>
			<p>“They’re dead!” Ida yells.</p>
			<p>
				“Not all of them! Not Rochester, not the cowards who ran!” Darcy
				screams, stepping toward her sister. “They should get away with
				what they did?”
			</p>
			<p>“Darcy, please,” Ida’s voice cracks.</p>
			<p>
				Rochester feels Ida’s plea in his heart, so warm he fears it
				might combust.
			</p>
			<p>
				“We’re past that, Ida. You think you have the power to stop me?”
			</p>
			<p>“It’s not just about power.”</p>
			<p>
				The sky above them swirls with storm clouds, alive with energy.
				Lightning crackles, pulsating the air in sharp relief, and a
				clap of thunder rumbles.
			</p>
			<p>
				“You’ve broken every law of nature and the laws of our
				community,” Ida says in a voice as fierce as her blue eyes. “You
				may have the power you took, but you have become untethered.”
			</p>
			<p>
				“Enough of the bedtime stories! I’m building a new future, and
				no one will stand in my way. Not even you.”Lightning rips
				through the clearing as the sisters release their might on one
				another. The two energy fields meet in full force, a crack
				sounding through the forest. The ground between them trembles,
				catches fire, freezes, and shatters.
			</p>
			<p>
				Rochester watches in horror. “It’s over,” he whispers, releasing
				his last breath.
			</p>
			<p>
				Across the county, a power outage hits that will last for weeks.
			</p>
		</div>
	</section>
	<style>
		.text-wrapper > p {
			margin-bottom: 1em;
		}
	</style>
</Layout>
