<section class="flex flex-col justify-center items-center h-[60vh]" id="hero">
	<img
		sizes="(max-width: 1400px) 100vw, 1400px"
		srcset="
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_200.png 200w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_420.png 420w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_593.png 593w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_740.png 740w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_862.png 862w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_994.png 994w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_1120.png 1120w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_1255.png 1255w,
/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_1400.png 1400w"
		src="/images/compass/ConvergenceCompassTextNoBG_dol6gs_c_scale,w_1400.png"
		alt="Convergence books logo"
		class="max-w-lg"
        loading="eager"
		id="hero-img"
	/>
	<div class="hero-text">
		<h1 class="text-xl font-heading" style="visibility: hidden;">
			The Convergence Books
		</h1>
	</div>
</section>
<style>
	#hero-img {
		transition: all 1.5s ease-in-out;
	}
</style>
