<section class="">
	<div class="mx-auto max-w-2xl p-6 pb-12 text-gray-400">
		<h3 class="mb-2 text-lg text-gray-300">
			Reviews for Book One: Incarnation
		</h3>
		<figure class="text-sm italic">
			"I grew up reading YA fantasy, and it was so disheartening to see
			the female characters pushed to the side again and again. Well, this
			book changes all that. Bold, strong, flawed, powerful girls and
			women fill this book, taking the reader on a true journey of
			discovery, from the main character Mera uncovering the truth about
			her family’s past, to understanding a new world of magic and
			elemental powers that dictate every facet of life in the small Maine
			town she moves to after her mother suddenly goes missing. <br /><br
			/>
			If you love YA fantasy, you’ve got to read this book. It features a unique
			new world of magic and characters you can’t help but fall in love with,
			along with some truly bone-chilling moments where the main characters
			come face to face with darkness."
			<figcaption class="mt-2 not-italic">
				- Justina Huddleston, Writer (SheKnows.com)
			</figcaption>
		</figure>
	</div>
</section>
